extends common/app-sidebar-white.pug
block head
  include common/app-head.pug
  +head(title)

block page_content
  iframe(width='100%', frameborder='0', height='100%', src="https://baserow.io/form/VQigxOyKNlC5j6KtKxn1LzDPyMFc39J34oj1ds9F_EY")

block footer
  script(src='https://cdn.jsdelivr.net/npm/apexcharts')
  script(src=asset('app/js/charts-demo.js'))

